.questions {

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    @include mq(sm) {
        padding: 0 20px;
    }

    &__wrapper {
        max-width: $MAX_WIDTH;
        margin: 0 auto;
        text-align: center;


        @include mq(sm) {
            max-width: 100%;
            width: 100%;
        }
    }



    &__title {
        @extend .service__title;

    }

    &__question--guest {
        width: 100%;

        @include mq(xl) {
            padding: 0 8%;
        }

        @include mq(sm) {
            padding: 0;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }


    &__question--pastor {

        @extend .questions__question--guest;


    }



    &__img {
        border-radius: 50%;

    }

    &__icon {

        width: 10%;

        @include mq(sm) {
            width: 15%;
        }



    }


    &__name {
        text-align: center;
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__msg--l {
        width: 85%;
        padding: 3%;
        background-color: $MAIN_COLOR;
        position: relative;
        border: 40px;
        margin-bottom: 100px;
        text-align: left;

        @include mq(sm) {
            width: 80%;
        }


        &::after {
            content: '';
            position: absolute;
            border-left: 8px solid #eee;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-left-color: $MAIN_COLOR;
            top: 10px;
            right: -8px;





        }



    }


    &__msg--r {
        width: 85%;
        padding: 3%;
        background-color: $MAIN_COLOR;
        position: relative;
        border: 40px;
        text-align: left;
        margin-bottom: 100px;

        @include mq(sm) {
            width: 80%;
            padding: 2%;
        }

        &::after {
            content: '';
            position: absolute;
            border-right: 8px solid #eee;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-right-color: $MAIN_COLOR;
            top: 10px;
            left: -8px;
        }
    }


    &__txt {
        font-size: 2rem;
        line-height: 1.7;
        color: white;

        @include mq(xl) {
            font-size: 1.7rem;
        }

        @include mq(sm) {
            font-size: 1.4rem;
        }
    }



    &__btn {
        @extend .happening__btn;
        text-align: center;
        margin-top: 60px;
    }


}

.cb {
    clear: both;
}