.service {



    &__wrapper {

        max-width: 100%;
        margin: 0 auto;
    }

    &__title {
        @extend .activity__title;
    }


    &__link {
        display: block;
        transform: .3s;

        &:hover {
            opacity: .7;
        }
    }

    &__group {

        display: flex;
        align-items: flex-start;


        @include mq(sm) {
            display: block;
        }


    }


    &__group__item {
        width: 33.9%;
        text-align: center;
        position: relative;
        display: inline-block;
        overflow: hidden;

        @include mq(sm) {
            width: 100%;
        }

    }


    &__img {

        transition-duration: .3s;

        &:hover {
            transform: scale(1.1);
        }

        @include mq(xl) {

            width: 100%;
            object-fit: contain;
            overflow: hidden;
        }
    }



    &__sub-title {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 20px;
    }



    &__time {
        color: red;


    }


}