.service {



    &__wrapper {

        max-width: 100%;
        margin: 0 auto;
    }

    &__title {


        @extend .activity__title;


    }


    &__link {
        display: block;
        transform: .3s;

        &:hover {
            opacity: .7;
        }
    }

    &__group {

        display: flex;
        align-items: flex-start;



        @include mq(xl) {
            display: block;
        }

    }


    &__group__item {
        width: 33.9%;
        text-align: center;
        position: relative;
        display: inline-block;


        @include mq(xl) {
            width: 100%;
            height: 170px;
        }

    }


    &__img {

        @include mq(xl) {

            width: 100%;
            height: 300px;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &__sub-title {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 20px;
    }



    &__time {
        color: red;


    }


}