/* Font color */
$KEY_COLOR:white;
$TEXT_COLOR:black;
$HEADER_COLOR:green;
$MAIN_COLOR:#0597F2;


/* FontFamily */
$BASE_SIZE:62.5%;
$FONT_FAMILY:futura-pt;

/* Break Points */
$MAX_WIDTH:1140px;
$BREAK_POINT_MD:800px;
$BREAK_POINT_SM:680px;


$SECTION_SPACE:100px;